*{
    padding: 0;
    margin: 0;
}

body{
    padding: 2%;
    background-color: #111537;
    color: white;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 20px;
}

.banner{
    width: 25%;
}

.content{
    display: flex;
    justify-content: center;
}

.content div{
    width: 80ch;
}

nav{
    background-color: #ce1842;
    padding: 20px;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline;
    padding: 5px;
}

.nav_link{
    color: white;
    text-decoration: none;
    /* border:  solid white; */
}
/* .nav_link:link{
    color: white;
}
.nav_link:visited{
    color: white;
} */

.nav_link.nav_link_selected{
    color:red;
    border: solid white;
    background-color: white;
}