---
import Layout from '../layouts/base.astro';
const pageTitle = 'Glossary';
---

<Layout pageTitle={pageTitle}>
	<p>You want terms and definitions? I got terms and definitions for yous!</p>
</Layout>
