---
import Layout from '../layouts/base.astro';
import {Content} from '../blurbs/homepage.md';
const pageTitle = 'Misfit Coding';
---

<Layout pageTitle={pageTitle}>
	<Content/>
	<!-- <h1>Tech Tutoring for the Rest of Us</h1>
	<p>Hi! You know, learning to program is hard at the best of times. And these aren't the best of times. 
		Misfit Coding is a home for folks for whom a traditional university course or bootcamp might be a struggle.
	</p>
	<p>If you are:</p>
	<ul>
		<li></li>
	</ul> -->
</Layout>
