---
import Layout from '../layouts/base.astro';
const pageTitle = 'Projects';
---

<Layout pageTitle={pageTitle}>
	<p>Making games is a great way to learn. Here are some of the things I've made!</p>
</Layout>
