---
import NavLink from "./nav_link.astro";
const {pageTitle} = Astro.props;
const pages = [
    ['Misfit Coding', '/'],
    ['Courses', '/courses'],
    ['Glossary', '/glossary'],
    ['Projects', '/projects'],
    ['About', '/about'],
    ['Contact', '/contact'],
];
---

<nav>
    <ul>
        {pages.map(([title, path]) => <NavLink title={title} currentTitle={pageTitle} path={path}/>)}
    </ul>
</nav>

