---
import '../styles/style.css';
import Logo from "../images/logo_favicon.svg";
import Nav from "../components/nav.astro";
const {pageTitle} = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href={Logo} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Misfit Coding</title>
	</head>
	<body>
        <Nav/>
        <h1>{pageTitle}</h1>
        <slot/>
	</body>
</html>
